.our_partners{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    h2{
        text-align: left;
    }

    .partners_block{
        margin: 0 -69px;
        .item{
            // width: calc(25% - 200px);
            margin: 0 69px;
            cursor: pointer;
            @include transition(all);

            &:hover{
                opacity: 50%;
            }
        }
    }
}
@media screen and (max-width:1340px){
    .our_partners{
        .partners_block {
            margin: 0 -30px;
            .item{
                margin: 0 30px;
            }
        }
    }
}
@media screen and (max-width:1090px){
    .our_partners{
        flex-wrap: wrap;
        h2{
            display: block;
        }
        .partners_block {
            display: flex;
            width: 100%;
            margin: 10px -10px 0 -10px;
            // justify-content: space-between;
            .item{
                width: auto;
                padding: 10px;
                margin: 0 auto;
            }
        }
    }
}
@media screen and (max-width:730px){
    .our_partners{
        .partners_block {
            flex-wrap: wrap;

            .item{
                margin: 10px auto;
            }
        }
    }
}
